/* greenwich_wp Admin Styles */

.greenwich_wp-admin {

    color: #000;
    font-size: 16px;
}

.greenwich_wp-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.greenwich_wp-admin h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.greenwich_wp-admin .notice {
    margin: 20px 0;
    background-color: #f8f8f8;
    border-left-color: #000;
}

.greenwich_wp-admin .card {
    background: #fff;
    border: 1px solid #000;
    margin-top: 20px;
    padding: 20px;
}

.greenwich_wp-admin .card h2 {
    font-size: 20px;
    margin-top: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.greenwich_wp-admin .form-group {
    margin-bottom: 20px;
}

.greenwich_wp-admin label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.greenwich_wp-admin input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
}

.greenwich_wp-admin .button-primary {
    background-color: #000;
    border-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    height: auto;
}

.greenwich_wp-admin .button-primary:hover,
.greenwich_wp-admin .button-primary:focus {
    background-color: #333;
    border-color: #333;
}

.greenwich_wp-admin #greenwich_wp_manual_sync {
    margin-right: 10px;
}

.greenwich_wp-admin .spinner {
    float: none;
    margin-top: 4px;
}

.greenwich_wp-admin #sync_status {
    font-weight: bold;
}

.greenwich_wp-admin #sync_status.success {
    color: #006400;
}

.greenwich_wp-admin #sync_status.error {
    color: #8b0000;
}

.greenwich_wp-admin #last_sync_time {
    font-style: italic;
}



/* Hide update nag */
.greenwich_wp-admin .update-nag {
    display: none !important;
}

/* Adjust WordPress admin bar */
.greenwich_wp-admin #wpadminbar {
    display: none;
}

.greenwich_wp-admin #wpbody {
    padding-top: 0;
}

/* Hide admin footer */
.greenwich_wp-admin #wpfooter {
    display: none;
}

/* Hide error messages */
.greenwich_wp-admin .error {
    display: none !important;
}

/* Style for the message container */
#greenwich_wp-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#greenwich_wp-message.notice-success {
    background-color: #e7f5ea;
    border-left-color: #006400;
}

#greenwich_wp-message.notice-error {
    background-color: #f8d7da;
    border-left-color: #8b0000;
}

/* Style for the spinner */
#greenwich_wp-spinner {
    margin-top: 10px;
}

.greenwich_wp-logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
}